.swagger-section #header {
    background-color: transparent;
    border-bottom: solid;
    border-bottom-width: 50px;
    border-bottom-color: #20588F;
    padding: 0 0 0 0;
    height: 120px;
}
.swagger-section #header img{
    float: left;
}

.swagger-section #header .logo {
    margin: 40px 20px 20px 0px;
    margin-left: 0px;
}

.swagger-section #header #slogan {
    float: left;
    margin-top: 64px;
    font-style: normal;
    font-size: 15px;
    line-height: 1.2em;
    font-family: 'Open Sans',Arial,sans-serif;
    position: relative;
    width: 220px;
    top: 3px;
}
