body {
    font-family: sans-serif;
}

#searchcontainer {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
}

#searchcontainer h1 {
    font-size: medium;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: #20588F;
}

#searchcontainer #tags {
    width: 78%;
    padding: 10px;
}

#searchcontainer #minSize {
    width: 12%;
    padding: 10px;
}

#searchcontainer #searchButton {
    width: 5%;
    padding: 10px;
}

#searchcontainer #searchjson {
    margin-top: 50px;
    font-size: x-small;
}

#searchcontainer #searchresults {
    margin-top: 50px;
}

#searchcontainer #searchresults a {
    padding-right: 25px;
    padding-bottom: 25px;
}

#searchcontainer #imagedetail {
    border-top: 2px solid #20588F;
    margin-top: 80px;
    padding-top: 20px;
    display: none;
}


#searchcontainer #imagedetail #imageview img{
    width: 600px;
}

#searchcontainer #imagedetail #imageview {
    width:600px;
    float:left;
    padding:5px;
}

#searchcontainer #imagedetail #metaview {
    float:left;
    padding:10px;
    width: 40%;

}

.imagetitle {
    font-style: italic;
    font-size: large;
    font-weight: bold;
    word-wrap: break-word;
}

.metasection {
    word-break: break-all;
}

.metaheading {
    color: #20588F;
    font-size: small;
}

.metafield {
    font-size: small;
}

.tagsfield {

    font-size: small;
}

.tag {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: small;
    background-color: #dfdfdf;
    border-radius: 5px;
    float: left;
}

